html, body {
    height: 100%;
}

/* body {
    display: flex;
    flex-direction: column;
} */

#contained {
    /* flex-grow: 1; */
    display: grid;
    grid-template-areas: 
    'nav'
    'aside'
    'main';
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 2rem 1fr;
}

nav {
    grid-area: nav;
    /* overflow: auto; */
}

div a img.hnglogo {
    width: 80px;
    height: 80px;

}

.nav.contact {
    grid-area: aside;
    
}
main {
    grid-area: main;
    /* overflow: auto; */
  }

@media only screen and (max-width: 575px) {
    #contained {
        /* flex-grow: 1; */
        display: grid;
        grid-template-areas: 
        'nav'
        'aside'
        'main';
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 13rem 2rem 1fr;
    }
}